.indexContainer{
    background: url('../../Images/background.svg') no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.buttonLogin{
    position: absolute;
    top: 3rem;
    right: 3rem;
    cursor: pointer;
}

.dataIndexContainer{
    display: flex;
    flex-direction: row;
    padding: 1.2rem;
}

.imageIndexContainer{
    width: 25rem;
}

.dataTextIndexContainer{
    display: flex;
    flex-direction: column;
    padding: 2rem 0;
    width: 100%;
    justify-content: center;
}

.dataTextIndexContainer > h1{
    font-size: 4rem;
    font-weight: bold;
    color: #F5F6FA;
}

.dataTextIndexContainer > p{
    font-size: 17px;
    width: 14rem;
    color: #F5F6FA;
    font-weight: 500;
}

.loginFormContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.loginFormContainer > h1.titleLogin{
    color: #5352ED;
    font-size: 40px;
    margin-bottom: 2.5rem;
}

.loginFormContainer > h2.title{
    font-size: 24px;
    color: #50565F;
    margin-bottom: .5rem;
}

.loginFormContainer > p.loginDescription{
    font-size: 12px;
    color: #50565F;
    margin-bottom: 2rem;
}

.buttonBoxLogin{
    width: 32%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.buttonBoxLogin > a{
    text-decoration: none;
    font-size: 14px;
    font-weight: 700;
    color: #5352ED;
}